Игра Пятнашки

Референс:
https://ru.wikipedia.org/wiki/%D0%98%D0%B3%D1%80%D0%B0_%D0%B2_15
https://apps.apple.com/us/app/puzzle-time-number-puzzles/id1496576671
https://play.google.com/store/apps/details?id=com.tripledot.fifteen
- При старте новой игры должен быть показан попап с возможностью выбрать размер поля 3х3, 4х4 или 5х5
- После выбора размера поля показать анимацию перемешивания поля из собранного состояния
- В игре должен присутствовать вин попап который показывается если правильно собрать поле
- Игра должна уметь сохранять\загружать свой стейт между запусками, чтоб можно было продолжить начатую игру
- Проект должен быть сделан в 2019 LTS или 2020 LTS